<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="register.component.css">
  <title>Registrarse | MusicData</title>
</head>
<body>
<div class="top-bar">
  <img src="logo.png" alt="MusicData Logo">
</div>
<div class="page">
  <div class="page">
    <div class="container">
      <div class="overlay-image"></div>
      <div class="title">Registrarse</div>
      <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="fullname"><strong>Nombre completo *</strong></label>
          <br>
          <br>
          <input type="text" class="form-control" id="fullname" formControlName="fullname" required>
          <br>
          <br>
        </div>
        <div class="form-group">
          <label for="country">País *</label>
          <br>
          <br>
          <select class="form-control" id="country" formControlName="country">
            <option value="" disabled selected>ESCOJA UNA OPCIÓN</option>
            <option value="Antigua y Barbuda">Antigua y Barbuda</option>
            <option value="Argentina">Argentina</option>
          </select>
          <br>
          <br>
        </div>
        <div class="form-group">
          <label for="birthdate">Fecha de nacimiento *</label>
          <br>
          <br>
          <input type="date" class="form-control" id="birthdate" formControlName="birthdate" required>
          <br>
          <br>
        </div>
        <div class="form-group">
          <label for="email">Correo electrónico *</label>
          <br>
          <br>
          <input type="email" class="form-control" id="email" formControlName="email" required>
          <br>
          <br>
        </div>
        <div class="form-group">
          <label for="password">Contraseña *</label>
          <br>
          <br>
          <input type="password" class="form-control" id="password" formControlName="password" required minlength="8">
          <br>
          <br>
        </div>
        <button class="button" id="registerButton" [disabled]="!registerForm.valid">Registrarme</button>
        <div class="divider"></div>
        <div class="back-to-login">¿Ya tienes una cuenta? <a href="/FrontMusicData/src/app/pages/login/login.component.html?_ijt=pjk5fi9r0n8ka6g9q9a0goadpt&_ij_reload=RELOAD_ON_SAVE">Iniciar sesión</a></div>
      </form>
    </div>
  </div>
</div>
</body>
</html>

